<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="card-header ">
      <h6 class="title d-inline">Consultar Venda</h6>
    </div>
    <div class="col-sm-12">
      <div class=" float-right">
        <button class="btn btn-primary" routerLink="/vendas-comandas">Nova Venda</button>
      </div>
      <table class="table table-bordered">
        <thead>
        <tr class="text-center" >
          <th scope="col">#</th>
          <th scope="col" >Nome</th>
          <th scope="col">Valor</th>
          <th scop="col">Ações</th>

        </tr>
        </thead>
        <tbody>
        <tr class="text-center" *ngFor="let comanda of listaComanda">
          <th scope="row">{{comanda.idVenda}}</th>
          <td>{{comanda?.membro?.nome}}</td>
          <td>{{comanda.valorTotal}}</td>

          <td class="text-center">
            <button class="btn btn-default mr-2 p-0" ><i class="fa fa-pencil-square-o" routerLink="/vendas-comandas/{{comanda.idVenda}}" aria-hidden="true"></i></button>
            <button class="btn btn-default  p-0" ><i class="fa fa-trash " aria-hidden="false" (click)="deletarVenda(comanda.idVenda)"></i></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

