<form  [formGroup]="formProduto">
  <div class="card">
    <div class="card-header">
      Registrar Compra
    </div>

    <div class="card-body">
      <div class="form-group">
        <select class="form-select " aria-label="Default select example" formControlName="produto">
          <option  *ngFor="let produto of retornoApi" [value]="produto" [ngValue]="produto">{{produto.nome}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Quantidade</label>
        <input type="text" class="form-control" placeholder="Quantidade" aria-label="Quantidade" id="Quantidade"
               formControlName="quantidade">
      </div>
    </div>

    <div class="card-footer">
        <div class="float-right">
          <button class="btn btn-primary" (click)="salvar()"> Adicionar</button>
        </div>
    </div>
  </div>
</form>
