<form [formGroup]="formRelatorio">
  <div class="card p-2">
    <h3 class="card-title">Relatorio de Vendas</h3>
    <div class="card-header row">
      <div class="form-group  col-sm-6" >
        <label> Data inicial:</label>
        <input type="date" class="form-control" formControlName="membroComandas">
      </div>

      <div class="form-group  col-sm-6" >
        <label> Data Final:</label>
        <input type="date" class="form-control" formControlName="membroComandas">
      </div>


      <div class="col-sm-12 ">
        <button class="btn btn-primary mr-2 float-right"> Pesquisar</button>
        <button class="btn btn-primary mr-2 float-right"> Limpar</button>
      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive ps">
        <table class="table tablesorter ">
          <thead>
            <tr>
              <th scope="col">Descrição</th>
              <th scope="col">Valor</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let comanda of listaComanda" >
              <td>{{comanda.membro ? comanda?.membro?.nome : comanda.descricao}}</td>
              <td>{{comanda.valorTotal | currency:'BRL':true:'1.2-2'}}</td>
            </tr>

            <tr>
              <td class="font-weight-bolder" colspan="1" >Valor Total: </td>
              <td class="font-weight-bolder">{{somar() | currency:'BRL':true:'1.2-2'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</form>
