<div class="sidebar">
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li routerLink="/consulta-produtos"><a><i class="fa fa-list" aria-hidden="true"></i><span>Produtos</span></a></li>
      <li routerLink="/consulta-membros" ><a><i class="fa fa-user-circle" aria-hidden="true"></i><span>Membro / Candidatos</span></a></li>
      <li  routerLink="/consulta-venda"><a><i class="fa fa-bar-chart" aria-hidden="true"></i><span>Consulta Vendas</span></a></li>
      <li routerLink="/vendas-comandas"><a><i class="fa fa-money" aria-hidden="true"></i><span>Vendas</span></a></li>
    </ul>
  </div>
</div>
