<form *ngIf="formVendascomandas" [formGroup]="formVendascomandas" >
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="card-header row">
        <div class="form-group col-sm-12">
          <label>Tipo de Vendas:</label>

          <label class="btn btn-sm btn-primary btn-simple" id="1">
            <input type="radio" name="relevancia" formControlName="tipoVenda" value="membro"> Membro
          </label>
          <label class="btn btn-sm btn-primary btn-simple " id="2">
            <input type="radio" name="relevancia" formControlName="tipoVenda" value="comanda"> Comanda
          </label>
        </div>
        <div class="form-group col-sm-12" *ngIf="this.formVendascomandas.value.tipoVenda === 'membro' ">
          <select class="form-select " aria-label="Default select example" [compareWith]="compareFn" formControlName="membro">
            <option [ngValue]="null" disabled>selecione o membro</option>
            <option *ngFor="let membro of consultaMembros" [ngValue]="membro" >{{ membro.nome }}</option>
          </select>
        </div>

        <div class="col-sm-12 row" *ngIf="this.formVendascomandas.value.tipoVenda === 'comanda' ">
          <div class="form-group col-sm-12" >
            <select class="form-select " aria-label="Default select example"
                    [compareWith]="compareFnComanda" formControlName="comandaSelecionada"
                    (change)="preencheComandaSelecionada()">
              <option [ngValue]="null" disabled>selecione a Comanda</option>
              <option *ngFor="let comanda of comandasAbertas" [ngValue]="comanda" >{{ comanda.descricao }}</option>
            </select>
          </div>

          <div class="form-group col-sm-12">
            <label>Descrição da Comanda</label>
            <input type="text" class="form-control" formControlName="descricao">

          </div>
        </div>

        <div class="form-group col-sm-3">
          <label>Codigo do Produto</label>
          <input type="text" class="form-control" placeholder="Código do Produto" aria-label="CodigoProduto"
                 id="CodigoProduto" (blur)="buscarProduto()" formControlName="codigoProduto">
        </div>

        <div class="form-group col-sm-3">
          <label>Nome do Produto</label>
          <input  readOnly type="text" class="form-control" placeholder="Nome do Produto" aria-label="NomeProduto"
                 id="NomeProduto" formControlName="nomeProduto">
        </div>

        <div class="form-group col-sm-2">
          <label>Valor</label>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">R$</span>
            </div>
            <input readonly type="text" class="form-control" placeholder="Valor" aria-label="Valor" id="valor "
                   formControlName="valor" >
          </div>
        </div>


        <div class="form-group col-sm-2">
          <label>Quantidade</label>
          <input type="text" class="form-control" placeholder="Quantidade" aria-label="Quantidade" id="Quantidade"
                 formControlName="quantidadeProduto">
        </div>
        <div class="col-sm-2">
          <div class="float-right">
            <button class="btn btn-primary mt-4" (click)="adicionarIten()"> Adicionar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--inciando segunda tabela -->
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="card-header ">
        <h6 class="title d-inline">Vendas</h6>
      </div>
      <div class="col-sm-12">
        <table class="table table-bordered">
          <thead>
          <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Valor</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Valor Total</th>
            <th scope="col">Remover</th>
          </tr>
          </thead>
          <tbody>
          <tr class="text-center" *ngFor="let itens of retornaListaItens()">
            <td>{{itens.produto.idProduto }}</td>
            <td>{{itens.produto.nome}}</td>
            <td>{{itens.produto.valorVenda  | currency:'BRL':true:'1.2-2'}}</td>
            <td>{{itens.quantidade}}</td>
            <td>{{itens.valor | currency:'BRL':true:'1.2-2' }}</td>
            <td class="text-center">
              <button class="btn btn-default  p-0"><i class="fa fa-trash " aria-hidden="false " ></i></button>
            </td>
          </tr>
          <tr>
            <td colspan="5" >Total Geral:</td>
            <td>{{somar() | currency:'BRL':true:'1.2-2'}}</td>
          </tr>
          </tbody>
        </table>
        <div class="col-sm-12">
          <div class="float-right">
            <button class="btn btn-primary mr-2" (click)="salvarComanda()"> Atualizar</button>
            <button class="btn btn-primary"> Pagar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>




