<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <h3>Relatorio de Vendas</h3>
      <div class=" float-right">
        <button class="btn btn-primary" routerLink="/vendas-comandas">Nova Venda</button>
      </div>
    </div>
  </div>
</div>


<div class="col-sm-12 d-flex flex-row justify-content-around">
  <div class="card w-50">
    <div class="card-header">
      <h4 class="card-title">Membros</h4>
    </div>

    <div class="card-body col-sm-12">
      <div class="table-responsive ps">
        <table class="table tablesorter">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Valor</th>
              <th scope="col">Data</th>
              <th scop="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let comanda of listaComandaMembros">
              <td>{{comanda.membro ? comanda?.membro?.nome : comanda.descricao }}</td>
              <td>{{comanda.valorTotal | currency:'BRL':true:'1.2-2'}}</td>
              <td>{{comanda.data | date:'MMMM - yyyy'}}</td>

              <td>
                <button *ngIf="!comanda.pago" class="btn btn-default mr-2 p-0"><i class="fa fa-pencil-square-o"
                                                                                  routerLink="/vendas-comandas/{{comanda.id}}"
                                                                                  aria-hidden="true"></i></button>
                <button *ngIf="!comanda.pago" class="btn btn-default  mr-2 p-0"><i class="fa fa-trash " aria-hidden="false"
                                                                                   (click)="deletarVenda(comanda.id)"></i>
                </button>
                <button *ngIf="!comanda.pago" class="btn btn-default p-0" (click)="pagarVenda(comanda)"><i class="fa fa-usd"
                                                                                                           aria-hidden="true"></i>
                </button>

                <div *ngIf="comanda.pago" class="alert alert-success" role="alert">
                  Pago
                </div>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="card ml-5 w-50">
    <div class="card-header">
      <h4 class="card-title">Comandas Abertas</h4>
    </div>

    <div class="card-body col-sm-12">
      <div class="table-responsive ps">
       <table class="table tablesorter ">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Valor</th>
            <th scope="col">Data</th>
            <th scop="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let comanda of listaComanda">
            <td>{{comanda.membro ? comanda?.membro?.nome : comanda.descricao }}</td>
            <td>{{comanda.valorTotal | currency:'BRL':true:'1.2-2'}}</td>
            <td>{{comanda.data | date:'dd/MM/yyyy'}}</td>

            <td>
              <button *ngIf="!comanda.pago" class="btn btn-default mr-2 p-0"><i class="fa fa-pencil-square-o"
                                                                                routerLink="/vendas-comandas/{{comanda.id}}"
                                                                                aria-hidden="true"></i></button>
              <button *ngIf="!comanda.pago" class="btn btn-default  mr-2 p-0"><i class="fa fa-trash " aria-hidden="false"
                                                                                 (click)="deletarVenda(comanda.id)"></i>
              </button>
              <button *ngIf="!comanda.pago" class="btn btn-default p-0" (click)="pagarVenda(comanda)"><i class="fa fa-usd"
                                                                                                         aria-hidden="true"></i>
              </button>

              <small *ngIf="comanda.pago" class="alert alert-success" role="alert">
                Pago
              </small>

            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-6">
  <app-relatorio-vendas></app-relatorio-vendas>
</div>
